@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

:root {
  --primary: #efb6b2;
  --secondary: #4e4e4e;
  --error: #ff4a4a;
}

body {
  font-family: "Raleway";
  color: var(--secondary);
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

/* titile */
.title h1 {
  color: var(--primary);
  font-size: 2.2rem;
  letter-spacing: 2px;
  font-weight: normal;
}

.title h2,
.title p {
  text-align: center;
}

.title h2 {
  font-size: 2.6rem;
  margin-top: 60px;
}
